
<div class="login-container">
  <div class="left-section">

  </div>
  <div class="right-section">
    
    <div class="logo-container-flex">
      <img src="/assets/images/logo.png" alt="Logo" class="logo-flex">
      <p class="logo-title-flex">CAMPUS <span class="F28125">FLOW</span></p>
    </div>

  <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Se connecter</mat-card-title>
      </mat-card-header>
      <form (ngSubmit)="login()">
      <mat-card-content>
        
          <mat-form-field>
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput [(ngModel)]="username" name="username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password">
          </mat-form-field>
         
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button	color="primary" type="submit">Login</button>
      </mat-card-actions>
    </form>
    </mat-card>
  </div>
</div>
