.login-container {
  display: flex;
  height: 100vh;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/login-banner.jpg");
  background-size: cover;
  background-position: center;
  width: 60%;
}


.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 30px;
  flex-direction: column;
}

.login-card {
  max-width: 700px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.full-width {
  width: 100%;
}



.logo-container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 10%;
}



.logo-flex {
  margin-right: 20px;
  width: 100px; 
  height: auto;
}


.logo-title-flex{ 
  font-weight: 700;
  margin-top: 20px;
  font-size: 40px;
}



@media screen and (max-width: 768px) {
  .login-container {
   flex-direction: column;
   overflow: hidden;
  }

  .left-section {
    height: 30vh; 
    width: 100%; 
    clip-path: ellipse(50% 100% at 50% 0%);
    transform: scale(1.7);
  }

  .right-section {
    height: 70vh;
    width: 90%;
  }
  
  .logo-container-flex {
    margin-bottom: 0px;
  }
  
}


@media screen and (max-width: 1070px) {
  .logo-title-flex { 
display: flex;
  }

  .logo-container-flex {
    transform: scale(0.9);
  }
  
}

@media screen and (max-width: 450px) {


  .logo-container-flex {
    transform: scale(0.7);
  }
  

 
}