<!-- side bar -->
<mat-sidenav-container class="nav-container" *ngIf="isLoggedIn()">
    <mat-sidenav mode="side" opened>
        <div class="logo-container">
            <img src="/assets/images/logo.png" alt="Logo" class="logo">
            <p class="logo-title">CAMPUS <span class="F28125">FLOW</span></p>
        </div>
        <mat-nav-list class="nav-links">
            <a mat-list-item routerLink="/planning">
                <div class="link-content">
                    <mat-icon routerLinkActive="active-link">event</mat-icon>
                    <span>Planning</span>
                </div>
            </a>
            <a mat-list-item routerLink="/report-grades">
                <div class="link-content">
                    <mat-icon routerLinkActive="active-link">mode_edit_24px</mat-icon>
                    <span>Bulletin</span>
                </div>
            </a>
            <a mat-list-item routerLink="/documents-links">
                <div class="link-content">
                    <mat-icon routerLinkActive="active-link">file_download</mat-icon>
                    <span>Doc/liens</span>
                </div>
            </a>
        </mat-nav-list>


        <mat-nav-list class="nav-links">
            <button mat-icon-button [matMenuTriggerFor]="userMenu" #trigger="matMenuTrigger">
                <ngx-avatars  name="John Doe"></ngx-avatars>

            </button>

            
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>settings_applications</mat-icon>
                    <span>Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span (click)="logout()">Logout</span>
                </button>
            </mat-menu>
            
        </mat-nav-list>
     
        
        
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="!isLoggedIn()"></router-outlet>
