<div class="container">
    <div class="row text-center">
        
        <div class="col-md-4">
            <h3 style="text-align: center;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
    
    </div>
    <br />
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>


    <br /><br /><br />

    <h3>

        <div class="flex"><button mat-flat-button color="primary" type="button" (click)="openDialog()">
                <mat-icon>add</mat-icon>Créer un événement
            </button>

            <div class="container-bottom">
                <div class="box">
                    <div class="square a-rendre"></div>
                    <h2>A rendre</h2>
                </div>
                <div class="box">
                    <div class="square valide"></div>
                    <h2>Validé</h2>
                </div>
                <div class="box">
                    <div class="square absence"></div>
                    <h2>Absence</h2>
                </div>
                <div class="box">
                    <div class="square evenement"></div>
                    <h2>Evénement</h2>
                </div>
            </div>
        </div>



            <ng-template #dialogContentTemplate let-closeDialog="close" class="flex popup">
            <h2>Créer un événement</h2>
            <form (ngSubmit)="addNewEvent()">
                <div class="grid-container">
                    <div>
                      <mat-form-field>
                        <mat-label>Titre</mat-label>
                        <input matInput type="text" id="title" name="title" [(ngModel)]="newEvent.title" required>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Début</mat-label>
                        <input matInput type="datetime-local" id="start" name="start" [(ngModel)]="newEvent.start" required>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="newEvent.status" name="status">
                          <mat-option value="A rendre">A rendre</mat-option>
                          <mat-option value="Validé">Validé</mat-option>
                          <mat-option value="Absence">Absence</mat-option>
                          <mat-option value="Evénement">Evénement</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    
                    <div>
                      <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="4" id="description" name="description" [(ngModel)]="newEvent.description"></textarea>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Classe</mat-label>
                        <mat-select [(ngModel)]="newEvent.classe" name="classe">
                          <mat-option *ngFor="let classe of classes" [value]="classe.id">{{ classe.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  
                  
              <button type="submit" mat-raised-button color="primary">Ajouter</button>
            </form>
          </ng-template>
          



        <div class="clearfix"></div>
    </h3>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Starts at</th>
                    <th>Ends at</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.title }}</td>
                    <td>{{ event.start | date: 'medium' }}</td>
                    <td>{{ event.end | date: 'medium' }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteEvent(event)">
                            Supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>